.gradle
/build/
/bin/
!gradle/wrapper/gradle-wrapper.jar
*.class
bin/main/application.yaml
.demo-env
target/
/BEFTA Report for Smoke Tests/
/BEFTA Report for Functional Tests/
applicationinsights-agent-*.jar
*.log

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
/out
*.iws
*.iml
*.ipr

.DS_Store
