version: '2.1'

services:
  hmc-cft-hearing-service:
    build:
      context: .
      args:
        - http_proxy
        - https_proxy
        - no_proxy
    image: hmctspublic.azurecr.io/hmc/hmc-cft-hearing-service
    container_name: hmc-cft-hearing-service
    environment:
      # these environment variables are used by java-logging library
      - CFT_HEARING_SERVICE_S2S_AUTHORISED_SERVICES=xui_webapp,hmc_hmi_inbound_adapter,sscs,fis_hmc_api,pcs_api
      - ROOT_APPENDER
      - JSON_CONSOLE_PRETTY_PRINT
      - ROOT_LOGGING_LEVEL
      - REFORM_SERVICE_TYPE
      - REFORM_SERVICE_NAME
      - REFORM_TEAM
      - REFORM_ENVIRONMENT
      - LOGBACK_DATE_FORMAT
      - LOGBACK_REQUIRE_THREAD
      - LOGBACK_REQUIRE_ALERT_LEVEL=false
      - LOGBACK_REQUIRE_ERROR_CODE=false
    ports:
      - $SERVER_PORT:$SERVER_PORT
