server:
  port: 4561
  max-http-header-size: 100KB

management:
  endpoint:
    health:
      show-details: "always"
  health:
    ssl:
      enabled: false
  endpoints:
    web:
      base-path: /
      exposure:
        include: health, info, prometheus
spring:
  application:
    name: HMC-CFT-Hearing-Service
  config:
    import: "optional:configtree:/mnt/secrets/hmc/"
  jackson:
    serialization:
      WRITE_DATES_AS_TIMESTAMPS: false
  datasource:
    hikari:
      data-source-properties: stringtype=unspecified
    tomcat:
      connection-properties: stringtype=unspecified
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://${CFT_HEARING_SERVICE_DB_HOST:localhost}:${CFT_HEARING_SERVICE_DB_PORT:5060}/${CFT_HEARING_SERVICE_DB_NAME:hmc_cft_hearing_service}${CFT_HEARING_SERVICE_DB_OPTIONS:}
    username: ${CFT_HEARING_SERVICE_DB_USERNAME:hmc}
    password: ${CFT_HEARING_SERVICE_DB_PASSWORD:hmc}
    type: com.zaxxer.hikari.HikariDataSource
  jpa:
    database: postgresql
    show-sql: false
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        jdbc:
          time_zone: UTC
  flyway:
    out-of-order: true
    ignore-missing-migrations: true
  main:
    allow-bean-definition-overriding: true
  security:
    oauth2:
      client:
        provider:
          oidc:
            issuer-uri: ${IDAM_OIDC_URL:http://localhost:5000}/o
        registration:
          oidc:
            client-id: internal
            client-secret: internal
  cloud:
    discovery:
      client:
        composite-indicator:
          enabled: false


#  datasource:
#    driver-class-name: org.postgresql.Driver
#    url: jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}${DB_OPTIONS:}
#    username: ${DB_USER_NAME}
#    password: ${DB_PASSWORD}
#    properties:
#      charSet: UTF-8
#    hikari:
#      minimumIdle: 2
#      maximumPoolSize: 10
#      idleTimeout: 10000
#      poolName: {to-be-defined}HikariCP
#      maxLifetime: 7200000
#      connectionTimeout: 30000
#  jpa:
#    properties:
#      hibernate:
#        jdbc:
#          lob:
#            # silence the 'wall-of-text' - unnecessary exception throw about blob types
#            non_contextual_creation: true

azure:
  application-insights:
    instrumentation-key: ${hmc.AppInsightsInstrumentationKey:00000000-0000-0000-0000-000000000000}

jms:
  servicebus:
    idle-timeout: ${SERVICE_BUS_IDLE_TIMEOUT:30000}
    internal:
      queues:
        inbound:
          connection-string: ${HMC_QUEUE_CONNECTION_STRING}
          # should be an integer that is interpreted as seconds
          exponential-multiplier: ${HMC_QUEUE_EXPONENTIAL_MULTIPLIER:2}
          queue-name: ${HMC_SERVICE_BUS_QUEUE}
          max-retry-attempts: ${HMC_QUEUE_MAX_RETRIES:5}
        outbound:
          connection-string: ${HMC_OUTBOUND_QUEUE_CONNECTION_STRING}
          queue-name: ${HMC_OUTBOUND_SERVICE_BUS_QUEUE}
    external:
      connection-string: ${HMC_SERVICE_BUS_CONNECTION_STRING}
      topic-name: ${HMC_SERVICE_BUS_TOPIC}

access-control:
  enabled: ${HMC_ACCESS_CONTROL_ENABLED:true}

hmcts-deployment-id:
  enabled: ${HMCTS_DEPLOYMENT_ID_ENABLED:false}

room-attributes:
  file: ${ROOM_ATTRIBUTES_FILE:classpath:room-attributes.json}

role:
  assignment:
    api:
      url-header-name: ${ROLE_ASSIGNMENT_URL_HEADER_NAME:Role-Assignment-Url}
      host: ${ROLE_ASSIGNMENT_URL:http://localhost:4096}

idam:
  api:
    url: ${IDAM_API_URL:http://localhost:5000}
  s2s-auth:
    microservice: hmc_cft_hearing_service
    totp_secret: ${IDAM_KEY_CFT_HEARING_SERVICE:AAAAAAAAAAAAAAAA}
    url: ${S2S_URL:http://localhost:4502}
  s2s-authorised:
    services: ${CFT_HEARING_SERVICE_S2S_AUTHORISED_SERVICES:xui_webapp,hmc_hmi_inbound_adapter,sscs,fis_hmc_api}
  client:
    id: hmc_cft_hearing_service
    scope: openid roles profile
    # same for all environments - not used in hmc but configured as idam mandates for token generation
    redirect_uri: https://cft-hearing-service/oauth2redirect
    secret: ${CFT_HEARING_SERVICE_IDAM_CLIENT_SECRET:AAAAAAAAAAAAAAAA}

oidc:
  issuer: ${OIDC_ISSUER:http://fr-am:8080/openam/oauth2/hmcts}

http:
  client:
    max:
      total: ${HTTP_CLIENT_MAX_TOTAL:100}
      client_per_route: ${HTTP_CLIENT_MAX_CLIENT_PER_ROUTE:20}
    seconds:
      idle:
        connection: ${HTTP_CLIENT_SECONDS_IDLE_CONNECTION:120}
    validate:
      after:
        inactivity: ${HTTP_CLIENT_VALIDATE_AFTER_INACTIVITY:2000}
    connection:
      timeout: ${HTTP_CLIENT_CONNECTION_TIMEOUT:30000}
    read:
      timeout: ${HTTP_CLIENT_READ_TIMEOUT:60000}
ccd:
  data-store:
    client-name: data-store-api
    url-header-name: ${CCD_DATA_STORE_URL_HEADER_NAME:Data-Store-Url}
    host: ${CCD_DATA_STORE_API_BASE_URL:http://localhost:4452}

fh:
  ad:
    host: ${FH_BASE_URL:base/url}
    get-token-url: ${FH_GET_TOKEN_URL:get/token/url}
    client-id: ${CLIENT_ID:client-id}
    client-secret: ${CLIENT_SECRET:client-secret}
    scope: ${SCOPE:scope}
    grant-type: ${GRANT_TYPE:grant-type}
    retryer:
      period: ${FH_RETRYER_PERIOD:100}
      max-period: ${FH_RETRYER_MAX_PERIOD:1000}
      max-attempts: ${FM_RETRYER_MAX_ATTEMPTS:3}
  hmi:
    host: ${HMI_BASE_URL:base/url}
    source-system: ${HMI_SOURCE_SYSTEM:source-system}
    destination-system: ${HMI_DESTINATION_SYSTEM:destination-system}

supportTools:
  service-whitelist: ${SUPPORT_TOOLS_AUTHORISED_SERVICES:tech_admin_ui}
  role-whitelist:  ${SUPPORT_TOOLS_AUTHORISED_ROLES:hmc_tech_admin}

LOGGING:
  LEVEL:
    uk:
      gov:
        hmcts:
          reform:
            hmc:
              config: INFO
