apiVersion: v2
appVersion: "1.0"
description: A Helm chart for hmc-cft-hearing-service App
name: hmc-cft-hearing-service
home: https://github.com/hmcts/hmc-cft-hearing-service
version: 1.6.24
maintainers:
  - name: HMCTS CCD Dev Team
dependencies:
  - name: java
    version: 5.3.0
    repository: 'oci://hmctspublic.azurecr.io/helm'
  - name: servicebus
    version: 1.2.1
    repository: 'oci://hmctspublic.azurecr.io/helm'
    condition: servicebus.enabled
  - name: elasticsearch
    version: 7.17.3
    repository: 'https://helm.elastic.co'
    condition: elastic.enabled
  - name: logstash
    version: 7.17.3
    repository: 'https://helm.elastic.co'
    condition: elastic.enabled
  - name: ccd
    version: 9.2.2
    repository: 'oci://hmctspublic.azurecr.io/helm'
    condition: ccd.enabled
